*, *::after, *::before {
	box-sizing: border-box;
	outline: none!important;
}
iframe, object, embed {
	border: none;
	width: 100%;
}
textarea, input {
	-webkit-appearance: none;
	&::placeholder {
		color: #A0A0A0;
	}
}
label {
	cursor: pointer;
}
img {image-orientation: from-image;}
html, body {
	background-color: $white;
	max-width: 100%;
	position: relative;
	margin: 0;
	font-family: $main_font;
}
body {
	font-size: 14px;
	color: #545454;
	overflow-x: hidden;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 14px;
	td, th {
		padding: 0;
		font-weight: normal;
	}
}
a, .link {
	text-decoration: none;
	color: #68cad9;
	transition: color 0.2s ease-in-out;
	&:hover {
		color: #4bc0d2;
	}
}
.link--muted {
	color: inherit;
	text-decoration: underline;
}

p {margin:0;}

ul {margin:0;padding:0;list-style:none;}
picture {display: block;}
svg {
	display: block;
	width: 100%;
}

input:-internal-autofill-selected {
	background-color: $white !important;
	color: #757575 !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition: background-color 5000s ease-in-out 0s;
}
.small-text {
	font-size: 12px
}
.address {
	font-style: normal;
}
.is-hide {
	display: none !important;
}
.wrap {
	margin: 0 auto;
	max-width: 560px;
	padding: 0 14px;
	@media (min-width: 1000px){
		padding: 0 5%;
		width: 90%;
		max-width: 1230px;
	}
}
.main-wrap {
	display: flex;
	@media (max-width: 999px){
		flex-wrap: wrap;
		flex-direction: column;
	}
}
.main h2, 
.main .heading-2 {
	color: #333;
}

.section__header {
	margin: 0 0 14px;
	@media (min-width: 750px){
		margin: 0 0 21px;
	}
}
.section__title {
	font-size: 18px;
	font-weight: normal;
	margin: 0;
}
.section__text {
	margin-top: 3px;
}

.tooltip-container {
	position: relative;
	height: 100%;
	width: 100%;
	.tooltip-control {
		position: absolute;
		height: 100%;
		width: 100%;
		border: none;
		background: transparent;
		cursor: pointer;
		.icon-svg--color-adaptive-lighter {
			color: #919191;
			fill: #919191;
		}
	}
}
.tooltip {
	box-sizing: border-box;
	position: absolute;
	bottom: 80%;
	right: -0.3333333333em;
	width: 180px;
	margin: 0 0 5px 0;
	padding: 9px 12px;
	border-radius: 4px;
	white-space: normal;
	font-size: 0.8571428571em;
	font-style: normal;
	text-align: center;
	color: #fff;
	display: block;
	z-index: 200;
	transition: all 0.3s cubic-bezier(0.3, 0, 0, 1);
	transform: rotateX(20deg) scale(0.8);
	transform-origin: 90% 120%;
	background-color: rgba(51,51,51,0.9);
	visibility: hidden;
	opacity: 0;
	@media (min-width: 750px) {
		transform-origin: center 120%;
		right: 50%;
		margin-right: -90px;
	}
	&:after {
		content: "";
		position: absolute;
		top: 100%;
		right: 18px;
		width: 0;
		border: 6px solid transparent;
		border-top-color: rgba(51,51,51,0.9);
		@media (min-width: 750px){
			right: 50%;
			margin-right: -6px;
		}
	}
}
.tooltip-container.show-tooltip .tooltip, 
.tooltip-container:hover .tooltip, 
.tooltip-container:focus .tooltip, 
.has-tooltip.show-tooltip .tooltip, 
.has-tooltip:hover .tooltip, 
.has-tooltip:focus .tooltip {
	transform: rotateX(0deg) scale(1);
	pointer-events: auto;
	visibility: visible;
	opacity: 1;
}
.btn {
	display: inline-block;
	background-color: #68cad9;
	border: 1px transparent solid;
	border-radius: 5px;
	color: #15282b;
	cursor: pointer;
	font-weight: 600;
	padding: 19px 23px;
	position: relative;
	outline: none;
	transition: all 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	&__content {
		position: relative;
		transition: opacity 0.3s ease-in-out;
	}
	&__spinner {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -10px;
		margin-left: -10px;
		transition: opacity 0.3s ease-in-out;
		opacity: 0;
	}
	&:hover {
		background-color: #3fbccf;
		color: #15282b;
	}
}
.btn--loading {
	pointer-events: none;
	cursor: default;
	.btn__content,
	.btn__icon {
		opacity: 0;
	}
	.btn__spinner {
		animation: rotate 0.5s linear infinite;
		opacity: 1;
	}
}

.form-holder {
	.mail-fieldset {
		display: block;
		.logged & {
			display: none;
		}
	}
}
.logged-customer-information {
	.logged & {
		display: flex;
	}
	display: none;
	align-items: center;
	.avatar-wrapper {
		padding: 0 14px 0 0;
	}
	.customer__avatar {
		background-size: cover;
		position: relative;
		max-width: none;
		width: 50px;
		height: 50px;
		border-radius: 8px;
		overflow: hidden;
		background-image: url('../images/avatar.png');
	}
}

.step__footer {
	z-index: 2;
	position: relative;
	margin-top: 14px;
	@media (min-width: 750px){
		margin-top: 21px;
	}
	&.step-customer,
	&.step-shipping,
	&.step-payment {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (max-width: 749px){
			flex-wrap: wrap;
			flex-direction: column-reverse;
		}
		.btn {
			@media (max-width: 749px){
				width: 100%;
				padding: 26px 23px;
				margin-bottom: 21px;
			}
		}
	}
	.previous-link {
		margin-right: 14px;
		svg {
			fill: #4bc0d2;
			margin-right: 4px;
		}
	}
}

.tags-list {
	display: flex;
	flex-wrap: wrap;
	.tag {
		margin-top: 10px;
		padding: 10px;
		border-radius: 4px;
		background-color: rgba(113,113,113,0.11);
		color: #717171;
		font-size: 12px;
		overflow: hidden;
		display: flex;
		align-items: center;
		&__text {
			color: #323232;
			font-size: 14px;
			font-weight: 500;
			overflow: hidden;
			display: inline-block;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
	.tag__button {
		background-color: transparent;
		margin-left: 10px;
		border: 0;
		cursor: pointer;
		padding: 0;
		line-height: 1;
		.icon-svg {
			stroke: rgba(113,113,113,0.9);
		}
	}
	.icon-svg {
		fill: $currentcolor;
	}
}
.reduction-code__icon {
	margin-right: 2px;
	vertical-align: top;
}
.icon-svg {
	display: inline-block;
}
.icon {
	background-position: center center;
	background-repeat: no-repeat;
	display: inline-block;
}
.icon-svg--color-adaptive-lighter {
	color: #919191;
	fill: #919191;
}
.icon-svg--spinner-button {
	width: 20px;
	height: 20px;
}
.icon-svg--size-10 {
	width: 10px;
	height: 10px;
}
.icon-svg--size-12 {
	width: 12px;
	height: 12px;
}
.icon-svg--size-16 {
	width: 16px;
	height: 16px;
}
.icon-svg--size-18 {
	width: 18px;
	height: 18px;
}
.icon-svg--size-24 {
	width: 24px;
	height: 24px;
}
.order-summary-toggle__icon {
	fill: rgb(104, 202, 217);
	transition: fill 0.2s ease-in-out 0s;
}
.notice {
	display: flex;
	position: relative;
	opacity: 1;
	margin-bottom: 20px;
	padding: 14px;
	border-radius: 4px;
	border: 1px solid #d3e7f5;
	background-color: #eff8ff;
	color: #545454;
	transition: opacity 0.5s ease-in-out;
	&--error {
		border-color: #fad9d9;
		background-color: #ffebeb;
		.notice__icon {
			color: #e32c2b;
			fill: $errorColor;
			margin-right: 10px;
		}
		.notice__content {
			width: 100%;
			padding: 0 16px 0 0;
		}
	}
}
.radio__label, 
.checkbox__label {
	cursor: pointer;
	vertical-align: middle;
}
.iti {
	width: 100%;
}
.iti__flag {
	background-image: url("../images/flags.png");
	border-radius: 2px;
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		background-image: url("../images/flags@2x.png");
	}
}
.iti--allow-dropdown .iti__flag-container, 
.iti--separate-dial-code .iti__flag-container {
	right: 0;
	left: auto;
}
.iti__selected-flag {
	z-index: 1;
	position: relative;
	&::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		margin-top: -10px;
		height: 20px;
		border-left: 1px solid transparent;
		border-left-color: #d9d9d9;
		animation: scale-up 0.1s cubic-bezier(0, 0.34, 0.1, 0.98) forwards;
	}
}
.iti__arrow {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #555;
	&--up {
		border-top: none;
		border-bottom: 5px solid #555;
	}
}

@media (min-width: 750px){
	.shown-on-mobile {
		display: none;
	}
}
@media (max-width: 749px){
	.visually-hidden-on-mobile {
		border: 0;
		clip: rect(0, 0, 0, 0);
		clip: rect(0 0 0 0);
		width: 2px;
		height: 2px;
		margin: -2px;
		overflow: hidden;
		padding: 0;
		position: absolute;
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}





// 1em = 14px
// font-size: 0.8571428571em = font-size: 12px;
// font-size: 1.7142857143em  = font-size: 24px;