.dynamic-checkout {
    @media (min-width: 750px) {
        margin: 21px 0 0 0;
    }
    &__title {
        color: #737373;
        font-size: 1em;
        font-weight: 500;
        margin: 0;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: flex-end;
        text-align: center;
        &:before, &:after {
            content: '';
            border: 1px #e6e6e6 solid;
            border-bottom: 0;
            height: 0.5em;
            flex: 1 0 2em;
        }
        &:before {
            border-right: 0;
            border-top-left-radius: 5px;
            margin-right: 1em;
        }
        &:after {
            border-left: 0;
            border-top-right-radius: 5px;
            margin-left: 1em;
        }
    }
    &__content {
        border: 1px #e6e6e6 solid;
        border-top: 0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 13px 20px 20px 20px;
    }

    .secondStep & {
        display: none;
    }
    .thirdStep & {
        display: none;
    }
}