.responsive_header {
	padding: 21px 0;
	@media (min-width: 1000px){
		display: none;
	}
	.logo__image {
		max-height: 40px;
	}
}
.main {
	display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    padding: 21px 0 0 0;
    width: 100%;
    @media (min-width: 1000px){
        padding: 56px 0 0 0;
        width: 52%;
        padding-right: 6%;
    }
    @media (min-width: 750px) {
		
    }
    @media (max-width: 999px){
		order: 2;
	}
    .main__header {
        @media (min-width: 1000px) {
            padding: 0 0 28px 0;
        }
        .logo {
        	@media (max-width: 999px){
				display: none;
			}
        }
    }
    .logo {
        display: block;
    }
    .logo__image {
        max-height: 40px;
        @media (min-width: 1000px) {
            max-height: 60px;
        }
    }
    .main__footer {
        padding: 14px 0;
        border-top: 1px solid #e6e6e6;
    }
    .policy-list {
        text-align: left;
    }
    .policy-list__item {
        font-size: 12px;
        margin-right: 18px;
        margin-bottom: 6px;
    }
}

.alternative-payment-separator {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    line-height: 1.4;
    text-align: center;
    text-transform: uppercase;
    color: #737373;
    margin-top: 30px;
    display: block;
    &:after, &:before {
        content: '';
        display: inline-block;
        height: 1px;
        background-color: #e6e6e6;
        flex-grow: 1;
        width: calc(50% - 24px);
    }
    @media (max-width: 999px) and (min-width: 750px) {
    	margin-bottom: 24px;
    }
    @media (max-width: 749px){
		padding-bottom: 24px;
	}
    .separator__content {
        padding: 0 12px;
    }
    .secondStep & {
        display: none;
    }
    .thirdStep & {
        display: none;
    }
}

.main__content {
    flex: 1 0 auto;
    padding-bottom: 21px;
    @media (min-width: 750px){
        padding-bottom: 56px;
    }
}

.high-demand {
    display: flex;
    .img-holder {
        display: inline-block;
        margin-right: 22px;
    }
    .text-holder {
        font-weight: bold;
        padding-left: 5px;
    }
}

.timer-holder {
    display: block;
    background: #fff5d2;
    padding: 10px 20px;
    border: 1px solid #fac444;
    font-size: 14px;
    color: #2c2c2c;
    font-weight: bold;
    border-radius: 5px;
    margin: 5px 0px 20px 0px;
}

.step__customer {
    .secondStep & {
        display: none;
    }
    .thirdStep & {
    	display: none;
    }
    .contact-information {
    	.section__header {
    		@media (max-width: 749px){
    			flex-wrap: wrap;
    		}
    		.layout-flex__item {
    			@media (max-width: 749px){
    				width: 100%;
    			}
    		}
    	}
    }
}

.step__shipping {
    display: none;
    .secondStep & {
        display: block;
    }
    .thirdStep & {
    	display: block;
    }
    .content-box {
        background: #fff;
        background-clip: padding-box;
        border: 1px solid #d9d9d9;
        border-radius: 5px;
        color: #545454;
    }
	.content-box__row {
		padding: 12px 16px;
	}
	.review-block {
		display: flex;
		&~.review-block {
			margin-top: 12px;
			padding-top: 12px;
			border-top: 1px solid #e6e6e6;
		}
	}
	.review-block__inner {
		display: flex;
		flex: 1;
	}
	.review-block__label {
		color: #737373;
		padding-right: 16px;
		flex: 0 1 5em;
	}
	.review-block__content {
		flex: 5;
		color: #333;
		padding-right: 16px;
	}
	.review-block__link {
		max-width: 10em;
		font-size: 12px;
	}
	// shipping-method
	.shipping-method {
		padding-top: 28px;
		@media (min-width: 750px) {
			padding-top: 42px;
		}
	}
	.radio-wrapper {
		display: flex;
		.radio__input {
			padding-right: 10px;
		}
		.radio__label {
			flex: 1 1 100%;
			display: flex;
			justify-content: space-between;
		}
	}
	.small-text {
		color: #737373;
	}
	.content-box {
		&__emphasis {
			font-weight: 500;
			color: #333333;
		}
		.emphasis {
			color: #333;
		}
	}
}

// step__payment-method & step__billing-address
.step__payment-method,
.step__billing-address,
.step__remember {
	padding-top: 28px;
	@media (min-width: 750px) {
		padding-top: 42px;
	}

	display: none;
	.thirdStep & {
		display: block;
	}

	.content-box {
		background: #fff;
		background-clip: padding-box;
		border: 1px solid #d9d9d9;
		border-radius: 5px;
		color: #545454;
		padding: 0;
		margin: 0;
		&__row {
			padding: 16px;
			display: flex;
			width: 100%;
			&~.content-box__row {
				border-top: 1px solid #d9d9d9;
			}
			&--secondary {
				background-color: #fafafa;
			}
		}
		.radio__input {
			padding-right: 10px;
		}
		.radio__label {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			label {
				width: 100%;
			}
			.offsite-payment-gateway-logo {
				height: 24px;
				display: block;
			}
		}
	}
	.radio__label__accessory {
		text-align: right;
		padding-left: 10px;
		white-space: nowrap;
		display: flex;
		align-items: center;
	}
	.radio-wrapper {
		.fieldset {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
		}
	}
	.blank-slate {
		text-align: center;
		width: 100%;
		@media (min-width: 750px) {
			padding: 16px 63px;
		}
		&__icon {
			margin-bottom: 16px;
		}
	}
}
.payment-icon {
	border-radius: 0.2142857143em;
	background-size: cover;
	background-repeat: no-repeat;
	cursor: default;
	display: inline-block;
	transition: all 0.2s ease-in-out;
	width: 38px;
	height: 24px;
	& + .payment-icon {
		margin: 0 0 0 5px;
	}
	&--visa {
		background-image: url('../images/visa.svg'),none;
	}
	&--master {
		background-image: url('../images/master.svg'),none;
	}
	&--american-express {
		background-image: url('../images/american_express.svg'),none;
	}
	&--discover {
		background-image: url('../images/discover.svg'),none;
	}
	&-list__more {
		margin-top: -2px;
		margin-left: 5px;
	}
}
.icon--offsite {
	width: 102px;
	height: 52px;
	background-image: url('../images/offsite-small.svg'),none;
	@media (min-width: 750px){
		width: 163px;
		height: 81px;
		background-image: url('../images/offsite.svg'),none;
	}
}
.icon--free-tag {
	width: 94px;
	height: 46px;
	background-image: url('../images/free-tag-small.svg'), none;
	@media (min-width: 750px){
		width: 152px;
		height: 80px;
		background-image: url('../images/free-tag.svg'), none;	
	}
}
.card-fields-iframe {
	appearance: none;
	background: transparent;
	color: inherit;
	display: block;
	font: inherit;
	height: 45px;
	line-height: normal;
	width: 100%;
}
.card-fields-container--loaded .field__input--iframe-container {
	height: auto;
}
.field__input-wrapper--icon-right {
	.field__input {
		padding-right: 45px;
	}
	.field__icon {
		right: 0;
	}
}
.payment-method-wrapper {
	@media (max-width: 749px){
		flex-wrap: wrap;
	}
	.radio__label__accessory {
		@media (max-width: 749px){
			padding: 5px 0 0 0;
			width: 100%;
		}
	}
}

// step__billing-address
.step__billing-address {
	.address-fields {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}
}

// step__remember
.step__remember {
	.content-box__row {
		flex-wrap: wrap;
	}
	.fieldset {
		width: 100%;
		position: relative;
		z-index: 3;
	}
	.fieldset-description {
		margin-top: 13px;
	}
	.section__content__policy {
		margin-top: 12px;
	}
	.field__input-wrapper {
		.field__icon {
			left: 0;
		}
		.field__icon-svg {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		.field__label {
			padding-left: 45px;
		}
		.iti--allow-dropdown {
			input {
				padding-left: 45px;
			}
		}

	}
}