.main {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    @media (min-width: 1000px){
        padding: 56px 0 0 0;
        width: 52%;
        padding-right: 6%;
    }
    .main__header {
        @media (min-width: 1000px) {
            padding: 0 0 28px 0;
        }
    }
    .logo {
        display: block;
    }
    .logo__image {
        max-height: 40px;
        @media (min-width: 1000px) {
            max-height: 60px;
        }
    }
    .main__footer {
        padding: 14px 0;
        border-top: 1px solid #e6e6e6;
    }
    .policy-list {
        text-align: left;
    }
    .policy-list__item {
        font-size: 12px;
        margin-right: 18px;
        margin-bottom: 6px;
    }
}

.alternative-payment-separator {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    line-height: 1.4;
    text-align: center;
    text-transform: uppercase;
    color: #737373;
    margin-top: 30px;
    display: block;
    &:after, &:before {
        content: '';
        display: inline-block;
        height: 1px;
        background-color: #e6e6e6;
        flex-grow: 1;
        width: calc(50% - 24px);
    }
    .separator__content {
        padding: 0 12px;
    }
    .secondStep & {
        display: none;
    }
}

.main__content {
    flex: 1 0 auto;
    @media (min-width: 750px){
        padding-bottom: 56px;
    }
}

.high-demand {
    display: flex;
    .img-holder {
        display: inline-block;
        margin-right: 22px;
    }
    .text-holder {
        font-weight: bold;
        padding-left: 5px;
    }
}

.timer-holder {
    display: block;
    background: #fff5d2;
    padding: 10px 20px;
    border: 1px solid #fac444;
    font-size: 14px;
    color: #2c2c2c;
    font-weight: bold;
    border-radius: 5px;
    margin: 5px 0px 20px 0px;
}

.step__customer {
    .secondStep & {
        display: none;
    }
}

.step__shipping {
    display: none;
    .secondStep & {
        display: block;
    }
    .content-box {
        background: #fff;
        background-clip: padding-box;
        border: 1px solid #d9d9d9;
        border-radius: 5px;
        color: #545454;
    }
	.content-box__row {
		padding: 12px 16px;
	}
	.review-block {
		display: flex;
		&~.review-block {
			margin-top: 12px;
			padding-top: 12px;
			border-top: 1px solid #e6e6e6;
		}
	}
	.review-block__inner {
		display: flex;
		flex: 1;
	}
	.review-block__label {
		color: #737373;
		padding-right: 16px;
		flex: 0 1 5em;
	}
	.review-block__content {
		flex: 5;
		color: #333;
		padding-right: 16px;
	}
	.review-block__link {
		max-width: 10em;
		font-size: 12px;
	}
	// shipping-method
	.shipping-method {
		padding-top: 28px;
		@media (min-width: 750px) {
			padding-top: 42px;
		}
	}
	.section__header {
		margin: 0 0 14px;
		@media (min-width: 750px){
			margin: 0 0 21px;
		}
	}
	.section__title {
		font-size: 18px;
		font-weight: normal;
		margin: 0;
	}
	.radio-wrapper {
		display: flex;
		.radio__input {
			padding-right: 10px;
		}
		.radio__label {
			flex: 1 1 100%;
			display: flex;
			justify-content: space-between;
		}
	}
	.small-text {
		color: #737373;
	}
	.content-box__emphasis {
		font-weight: 500;
		color: #333333;
	}
}