/**
 * Modals
 */
 .modal-open {
 	overflow: hidden;
 	padding-right: 17px;
 	.modal {
		overflow-x: hidden;
		overflow-y: auto;
	}
}
.modal {
	// position: fixed;
	// z-index: 99;
	// top: 0;
	// left: 0;
	visibility: hidden;
	opacity: 0;
	// width: 100%;
	// height: 100%;

	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    
	&.is-show {
		visibility: visible;
		opacity: 1;
		.modal-overlay {
			opacity: 1;
			visibility: visible;
			transition-delay: 0s;
		}
		.modal-inner {
			transform: translateY(0);
			opacity: 1;
		}
	}
}
.modal-overlay {
	position: fixed;
	// z-index: 98;
	// top: 0;
	// left: 0;
	// width: 100%;
	// height: 100%;
	background-color: rgba(0,0,0,0.6);
	backdrop-filter: blur(6px);
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s linear 0.3s, opacity 0.3s;


	// position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
}
.modal-inner {
	position: absolute;
	z-index: 9999;
	top: 50px;
	left: 50%;
	max-width: 840px;
	width: 90%;
	margin-left: -420px;
	margin-bottom: 50px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 0 1.5em hsla(0, 0%, 0%, 0.35);
	transition: all 0.3s 0.12s;
	transform: translateY(-10%);
	opacity: 0;
}

.modal-header {
	border-bottom: 1px solid #e6e6e6;
	padding: 21px 35px;
	display: flex;
	justify-content: space-between;
}
.modal-title {
	color: #333333;
	font-size: 28px;
	font-weight: 400;
	margin: 0;
}
.modal-close {
	cursor: pointer;
	position: relative;
	transition: color 0.3s cubic-bezier(0.3, 0, 0, 1);
	vertical-align: middle;
	padding-left: 10px	;
	white-space: nowrap;
}
.modal-close-button {
    border: none;
    background: transparent;
    svg {
    	fill: #737373;
    }
}
.modal-content {
	@media (min-width: 750px) {
		padding: 35px;
	}
	p {
		line-height: 1.5;
		font-size: 16px;
		& + p {
			margin-top: 10px;
		}
	}
}