.wrap-chat {
	display: flex;
	height: calc(100vh - 78px);
	position: relative;
	max-width: 100%;
	overflow-x: hidden;
	@media (max-width: 544px) {
		height: calc(100vh - 60px);
	}
	.col-messaging {
		flex: 0 0 30%;
		max-width: 422px;
		border-right: 1px solid #EBEBEB;
		@media (max-width: 991px){
			flex: 0 0 auto;
			width: 300px;
		}
		@media (max-width: 767px){
			position: absolute;
			left: -300px;
		}
	}
	.col-chat {
		flex: 1 1 100%;
		max-width: 100%;
	}
	.col-profile {
		flex: 0 0 30%;
		max-width: 325px;
		border-left: 1px solid #EBEBEB;
	}
}
.col-messaging {
	overflow: hidden;
	transition: all 0.5s;
	height: calc(100vh - 78px);
	background-color: $white;
	z-index: 10;
	@media (max-width: 544px) {
		height: calc(100vh - 60px);
	}
	&.show-messaging {
		left: 0;
	}
	.col-wrap {
		padding: 48px 32px 20px 32px;
		overflow-y: auto;
		height: 100%;
		margin-right: -17px;
		@media (max-width: 1199px){
			padding: 35px 17px 20px 15px;
		}
		@media (max-width: 991px){
			padding-right: 32px;
		}
		@media (max-width: 544px) {
			padding: 15px 32px 20px 15px;
		}
	}
	.title-inner {
		font-size: 28px;
		@media (max-width: 991px){
			font-size: 24px;
		}
		@media (max-width: 544px) {
			font-size: 20px;
		}
	}
	.wrap-search {
		margin-left: 0;
		margin-top: 23px;
		@media (max-width: 544px) {
			margin-top: 15px;
		}
		.search-input {
			border: 1px solid $midgrey;
			border-radius: 4px;
			color: #7D7D8B;
			padding: 15px 15px 13px 55px;
			width: 100%;
			@media (max-width: 544px) {
				padding: 12px 15px 12px 50px;
			}
			&::placeholder {
				font-size: 18px;
				color: #7D7D8B;
				@media (max-width: 544px) {
					font-size: 15px;
				}
			}
		}
		.search-btn {
			cursor: pointer;
			left: 18px;
			top: 15px;
			width: 21px;
			height: 21px;
			@media (max-width: 544px) {
				left: 14px;
				top: 13px;
				width: 18px;
				height: 18px;
			}
		}
	}
}
.wrap-messaging {
	margin: 24px 0 0;
}
.messaging-tabs {

}
.messaging-item {
	margin: 0 0 23px;
	width: 100%;
	.messaging-link {
		display: flex;
		box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
		background: #F3F5F8;
		border-radius: 20px;
		padding: 23px 20px 17px;
		position: relative;
		@media (max-width: 1199px){
			padding: 15px 15px 15px;
		}
		@media (max-width: 991px){
			padding: 10px;
		}
		&.active {
			background: $white;
		}
	}
	.messaging-avatar {
		img {
			border-radius: 50%;
			object-fit: cover;
			height: 78px;
			width: 78px;
			@media (max-width: 1199px){
				height: 65px;
				width: 65px;
			}
			@media (max-width: 991px){
				height: 50px;
				width: 50px;
			}
		}
	}
	.text-holder {
		margin: 0 0 0 25px;
		@media (max-width: 1199px){
			margin: 0 0 0 15px;
		}
		@media (max-width: 991px){
			margin: 0 0 0 10px;
		}
		.user-name,
		.school-name,
		.user-description {
			display: block;
			width: 100%;
		}
		.user-name {
			font-size: 20px;
			font-weight: 700;
			line-height: 1.2;
			color: #161922;
			@media (max-width: 991px){
				font-size: 18px;
			}
		}
		.school-name {
			font-size: 16px;
			color: #161922;
			line-height: 1.2;
			@media (max-width: 991px){
				font-size: 14px;
			}
		}
		.user-description {
			padding-right: 45px;
			font-size: 16px;
			color: #757575;
			line-height: 1;
			margin: 8px 0 0;
			@media (max-width: 991px){
				padding-right: 25px;
				font-size: 14px;
			}
		}
		.messaging-date {
			position: absolute;
			bottom: 12px;
			right: 25px;
			font-size: 14px;
			color: #757575;
			@media (max-width: 991px){
				right: 10px;
				font-size: 12px;
			}
		}
		.messaging-count {
			background-color: $orange;
			border-radius: 50%;
			color: $white;
			position: absolute;
			right: -6px;
			top: -3px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 12px;
			min-width: 22px;
			height: 22px;
		}
	}
}

.col-chat {
	background-color: #F3F5F8;
	overflow: hidden;
	position: relative;
	.tab-title {
		background-color: $white;
		padding: 22px 60px 22px 27px;
		@media (max-width: 767px){
			padding: 15px 60px 15px 60px;
		}
		.title-inner {
			font-size: 18px;
			margin: 0;
			@media (max-width: 767px) {
				font-size: 16px;
			}
		}
	}
	.open-btn {
		position: absolute;
		top: 20px;
		right: 30px;
		display: block;
		cursor: pointer;
		opacity: 0;
		z-index: -99;
		@media (max-width: 991px){
			opacity: 1;
			z-index: 1;
		}
		@media (max-width: 767px){
			top: 13px;
			right: 20px;
		}
		&.active {
			opacity: 1;
			z-index: 1;
		}
	}
	.back-btn {
		position: absolute;
		top: 10px;
		left: 15px;
		display: block;
		cursor: pointer;
		display: none;
		@media (max-width: 767px){
			display: block;
		}
	}
}
.chat-body {
	display: flex;
	height: calc(100vh - 240px);
	padding: 40px 23px 0;
	overflow-y: auto;
}
.chat-main {
	width: 100%;
	.wrap-message {
		display: flex;
		margin: 0 0 25px;
		&.message-left {
			.message-body {
				background: #1D4AEC;
				border-top-left-radius: 0;
				color: $white;
			}
		}
		&.message-right {
			justify-content: flex-end;
			.message-body {
				background: $white;
				border-bottom-right-radius: 0;
				color: #757575;
			}
			.message-author {
				color: $darkgrey;
			}
		}
	}
	.message-photo {
		display: inline-block;
		margin: 0 25px 0 0;
		img {
			border-radius: 50%;
			height: 51px;
			width: 51px;
		}
	}
	.message-body {
		width: 445px;
		box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
		border-radius: 20px;
		position: relative;
		.text-holder {
			padding: 19px 25px 21px;
		}
		.message-author {
			font-size: 18px;
			font-weight: 700;
			display: block;
			padding: 0 50px 0 0;
			@media (max-width: 767px) {
				font-size: 16px;
				padding: 0 35px 0 0;
			}
		}
		.message-text {
			font-size: 16px;
			display: block;
			margin: 7px 0 0;
			@media (max-width: 767px) {
				font-size: 14px;
			}
		}
		.message-date {
			position: absolute;
			top: 22px;
			right: 22px;
			font-size: 16px;
			@media (max-width: 767px) {
				font-size: 12px;
			}
		}
	}
}
.chat-bottom-panel {
	position: relative;
	margin: 15px 23px 10px;
	textarea {
		box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
		border-radius: 10px;
		border: 0;
		font-size: 18px;
		padding: 22px 100px 0 35px;
		line-height: 1.2;
		min-height: 64px;
		height: auto;
		width: 100%;
		resize: none;
		@media (max-width: 544px) {
			font-size: 16px;
			padding: 22px 100px 0 20px;
		}
	}
	.emoji-btn {
		position: absolute;
		right: 67px;
		top: 25px;
		cursor: pointer;
		padding: 0;
		width: 17px;
		height: 17px;
		display: block;
		opacity: 1;
		@media (max-width: 544px) {
			right: 45px;
		}
	}
	.attach-file {
		cursor: pointer;
		display: block;
		overflow: hidden;
		position: absolute;
		right: 31px;
		top: 25px;
		width: 9px;
		height: 17px;
		@media (max-width: 544px) {
			right: 20px;
		}
		input {
			cursor: pointer;
			opacity: .01;
			position: absolute;
			z-index: 100;
			margin: 0;
			padding: 0;
			top: 0;
			right: 0;
		}
	}
}

.col-profile {
	position: relative;
	transition: all 0.5s;
	right: 0;
	height: calc(100vh - 78px);
	overflow-y: auto;
	background-color: $white;
	z-index: 10;
	@media (max-width: 991px){
		position: absolute;
		top: 0;
		right: -325px;
		width: 325px;
	}
	@media (max-width: 544px) {
		height: calc(100vh - 60px);
	}
	.close-btn {
		cursor: pointer;
		position: absolute;
		top: 32px;
		right: 34px;
		width: 24px;
		height: 24px;
		z-index: 2;
	}
}
.hide-profile {
	position: absolute;
	right: -325px;
}
.show-profile {
	right: 0;
}
.profile-item {
	.profile-avatar {
		img {
			border-radius: 50%;
			height: 76px;
			width: 76px;
		}
	}
	.item-head {
		text-align: center;
		background: #F7F7FA;
		padding: 23px 20px 0;
		.text-holder {
			margin: 10px 0 0;
		}
		.user-name {
			display: block;
			font-size: 20px;
			font-weight: 700;
			line-height: 1.2;
			@media (max-width: 767px) {
				font-size: 18px;
			}
		}
		.user-location {
			display: block;
			font-size: 12px;
		}
		.btn {
			display: inline-block;
			margin: 12px 0 0;
			max-width: 200px;
			width: 100%;
		}
	}
	.item-main {
		background: #F7F7FA;
		padding: 31px 20px 17px;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 1px;
			width: calc(100% - 40px);
			background-color: #E9E9E9;
			margin: 0 auto;
		}
		.title-inner {
			text-transform: uppercase;
			font-size: 14px;
			display: block;
			line-height: 1.2;
			margin: 0 0 9px;
			@media (max-width: 767px) {
				font-size: 12px;
			}
		}
		.text-inner {
			font-size: 16px;
			display: block;
			line-height: 1.2;
			margin: 0 0 15px;
			@media (max-width: 767px) {
				font-size: 14px;
			}
		}
		.profile-ico {
			display: inline-block;
			margin: 0 8px 0 0;
			img {
				width: 19px;
				height: 19px;
				vertical-align: bottom;
			}
		}
	}
	.item-foot {
		padding: 23px 20px 20px;
		background-color: $white;
		.title-inner {
			font-size: 18px;
		}
		.wrap-notes {
			border: 1px solid rgba(205, 209, 220, 0.5);
			margin: 14px 0 0;
		}
		.notes-body {
			padding: 15px 18px;
			font-size: 17px;
			@media (max-width: 767px) {
				font-size: 15px;
			}
			textarea {
				border: 0;
				padding: 0;
				width: 100%;
				resize: none;
				min-height: 153px;
				line-height: 1.2;
			}
		}
		.bold-wrap {
			font-weight: 700;
			textarea {
				font-weight: 700;
			}
		}
		.italic-wrap {
			font-style: italic;
			textarea {
				font-style: italic;
			}
		}
		.disk-wrap {
			ul {
				list-style-type: disc;
				padding: 0 15px;
			}
		}
		.check-wrap {
			ul {
				list-style-type: none;
				padding: 0 15px;
				li {
					position: relative;
					&:before {
						content: '✓';
						position: absolute;
						left: -20px;
						top: 0;
					}
				}
			}
		}
		ul {
			line-height: 1.2;
			li {
				margin: 0 0 14px;
			}
		}
		.notes-bottom-panel {
			display: flex;
			align-items: center;
			padding: 15px 17px;
			.notes-btn {
				margin-right: 28px;
				cursor: pointer;
				.bold-ico {
					height: 11px;
					width: 9px;
				}
				.italic-ico {
					height: 12px;
					width: 7px;
				}
				.list-disk-ico {
					height: 11px;
					width: 14px;
				}
				.list-check-ico {
					height: 12px;
					width: 13px;
				}
			}
		}
	}
}